{{#partial "content"}}

<div class="container">
    <div class="row">
        <h1>Student Management System</h1>
        <a class="btn btn-success btn-sm btn-block" href="/addNewRecords">Add a New Class</a>
    </div>
    <div class="row">
        <div class="col-md-5 students">
            {{#if students}}
                {{#each students}}
                <div class="one-student">
                    <h4>{{ student_name }}</h4>
                    <p>Highschool Attended: {{ highschool }}</p>
                    <p>{{ student_name }} is my name</p>
                    <p class="description">"My Bio Should Just Say Caffeinated"</p>
                    <small>
                        Track: <strong>Android</strong>,
                        Completed Katas: <strong>67</strong>,
                        KYU Level: <strong>4kyu</strong>,
                        Age: <strong>27</strong>
                    </small>
                </div>
                {{/each}}
            {{else}}
            <p>No Students!</p>
            {{/if}}
        </div>
    </div>
    <div class="row"></div>
</div>

        {{/partial}}

        {{> layout.hbs}}